.auction-form-container {
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
}

.auction-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.auction-form-container .form-group {
  margin-bottom: 15px;
}

.auction-form-container .form-control {
  border-radius: 5px;
}

.auction-form-container .btn {
  background-color: #ff6f61;
  border: none;
  padding: 10px 20px;
}

.auction-form-container .btn:hover {
  background-color: #e55b4f;
}
.nav-page {
  display: flex;
  gap: 4px;
  margin: 10px auto;
}
.nav-page label{
  padding-left: 10px;
}